{% extends "base.html" %}
{% block title %}
Home
{% endblock title %}
{% block navhead %}
Home
{% endblock navhead %}

{% block content %}
<div class="container text-center my-5">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a sample home page authenticated and managed by django and designed by Shibil</p>
        <hr class="my-4">
        <p>click the logout button to be redirected to login page</p>
        <p class="lead">
            <a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
        </p>
      </div>
    <div class="container m-auto">
        
    </div>
</div>
{% endblock content %}