{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    
  <div class="head container fw-bold my-3 text-center text-light w-25 ">{% block head %}Home for Admins{% endblock head %}</div>

  {% block content %}
  <div class="jumpo container text-center ">

     <div class="jumbotron">
      <h1 class="display-4">Hello, Admins!</h1>
      <p class="lead">This is a simple home page for testing pupose only , designed an developed by shibil.</p>
      <hr class="my-4">
      <p>This web site also include a temporary admin set up for managing users.</p>
      <p class="lead">
        <a class="btn btn-warning btn-lg" href="{% url 'logout' %}" role="button">Log Out</a>
        <a href="{% url 'admin_setup' %}" class="btn btn-success">admin panel</a>
      </p>
    </div>
  </div>
     
    <script src="{% static 'js/bootstrap.js' %}"></script>

    

  {% endblock content %}
</body>
</html>
