{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <style>
        body  {
            background-image: url('{% static "images/bg5.jpg" %}');
        }
    </style>
    
</head>
{% block content %}
<body class="login-back">

    <form action="" method="POST">
    {% csrf_token %}
   <div class="login-card container">
        <p class="h3 text-center text-dark fw-bold py-2">Login</p>

    <div class="container w-75 my-2 ">
    <label for="exampleInputEmail1" class="text-dark">Username</label>
    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder=" " required>
    </div>

    <div class="container w-75 my-4">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelp" placeholder="" required>
    </div>

    <div class="container text-center">
        {% if messages %}
        {% for message in messages %}
           <p class="message-text fw-bold">  {{ message }} </p>
        {% endfor %}
        {% endif %}
    </div>

    <div class="container text-center">
        <input type="submit" value="Sign in" class="login-button btn my-3 shadow text-light">
    </div>
    
    
    </form>

    


    </div>
    <p class="text-center">Don't have an account? <a href="{% url 'signup' %}" class=" text-danger">Sign up</a></p>

    
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
{% endblock content %}
</html>